<section>
  <h1>Popular Posts</h1>
  <ul id="recent_posts">
    <li class="post">
      <a href="/blog/2014/10/01/creating-a-restful-api-tutorial-with-nodejs-and-mongodb/">RESTful API with NodeJS and MongoDB</a>
    </li>
    <li class="post">
      <a href="/blog/2014/09/28/angularjs-tutorial-for-beginners-with-nodejs-expressjs-and-mongodb/">AngularJS for beginners</a>
    </li>
    <li class="post">
      <a href="/blog/2012/09/11/backbone-dot-js-for-absolute-beginners-getting-started/">BackboneJS for beginners</a>
    </li>
    <li class="post">
      <a href="/blog/2014/10/03/mean-stack-tutorial-mongodb-expressjs-angularjs-nodejs/">MEAN stack tutorial</a>
    </li>
    <li class="post">
      <a href="/blog/2014/02/13/algorithms-for-dummies-part-1-sorting/">Algorithms for dummies</a>
    </li>
  </ul>
</section>
