// https://github.com/chriskempson/tomorrow-theme
$highlight-background: #2d2d2d;
$highlight-current-line: #393939;
$highlight-selection: #515151;
$highlight-foreground: #cccccc;
$highlight-comment: #999999;
$highlight-red: #f2777a;
$highlight-orange: #f99157;
$highlight-yellow: #ffcc66;
$highlight-green: #99cc99;
$highlight-aqua: #66cccc;
$highlight-blue: #6699cc;
$highlight-purple: #cc99cc;

$article-padding: 20px;
$color-border: #ddd;
$font-size: 1em;
$line-height: 1.6em;

article {
  pre {
    background: #2d2d2d;
    margin: 0 -8px;
    padding: 15px 20px;
    border-style: solid;
    border-color: #ddd;
    border-width: 1px 0;
    overflow: auto;
    color: #ccc;
    line-height: 22.400000000000002px;
  }
  .highlight {
    background: #2d2d2d;
    margin: 0 -8px;
    padding: 15px 20px;
    border-style: solid;
    border-color: #ddd;
    border-width: 1px 0;
    overflow: auto;
    color: #ccc;
    line-height: 22.400000000000002px;
    .gutter pre {
      color: #666;
      font-size: 0.85em;
    }
  }
  .gist .gist-file .gist-data .line-numbers {
    color: #666;
    font-size: 0.85em;
  }
  pre {
    font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
  }
  code {
    font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
    background: #eee;
    text-shadow: 0 1px #fff;
    padding: 0 0.3em;
  }
  pre code {
    background: none;
    text-shadow: none;
    padding: 0;
  }
  .highlight {
    pre {
      border: none;
      margin: 0;
      padding: 0;
    }
    table {
      margin: 0;
      width: auto;
    }
    td {
      border: none;
      padding: 0;
    }
    figcaption {
      font-size: 0.85em;
      color: #999;
      line-height: 1em;
      margin-bottom: 1em;
      &:before {
        content: "";
        display: table;
      }
      &:after {
        content: "";
        display: table;
        clear: both;
      }
      a {
        float: right;
      }
    }
    .gutter pre {
      text-align: right;
      padding-right: 20px;
    }
    .line {
      height: 22.400000000000002px;
      &.marked {
        background: #515151;
      }
    }
  }
  .gist {
    margin: 0 -20px;
    border-style: solid;
    border-color: #ddd;
    border-width: 1px 0;
    background: #2d2d2d;
    padding: 15px 20px 15px 0;
    .gist-file {
      border: none;
      font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
      margin: 0;
      .gist-data {
        background: none;
        border: none;
        .line-numbers {
          background: none;
          border: none;
          padding: 0 20px 0 0;
        }
        .line-data {
          padding: 0 !important;
        }
      }
      .highlight {
        margin: 0;
        padding: 0;
        border: none;
      }
      .gist-meta {
        background: #2d2d2d;
        color: #999;
        font: 0.85em "Helvetica Neue", Helvetica, Arial, sans-serif;
        text-shadow: 0 0;
        padding: 0;
        margin-top: 1em;
        margin-left: 20px;
        a {
          color: #258fb8;
          font-weight: normal;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

pre {
  .comment, .title {
    color: #999;
  }
  .variable, .attribute, .tag, .regexp, .ruby .constant {
    color: #f2777a;
  }
  .xml {
    .tag .title, .pi, .doctype {
      color: #f2777a;
    }
  }
  .html .doctype {
    color: #f2777a;
  }
  .css {
    .id, .class, .pseudo {
      color: #f2777a;
    }
  }
  .number, .preprocessor, .built_in, .literal, .params, .constant {
    color: #f99157;
  }
  .class, .ruby .class .title, .css .rules .attribute, .string, .value, .inheritance, .header, .ruby .symbol, .xml .cdata {
    color: #9c9;
  }
  .css .hexcolor {
    color: #6cc;
  }
  .function {
    color: #69c;
  }
  .python {
    .decorator, .title {
      color: #69c;
    }
  }
  .ruby {
    .function .title, .title .keyword {
      color: #69c;
    }
  }
  .perl .sub, .javascript .title, .coffeescript .title {
    color: #69c;
  }
  .keyword, .javascript .function {
    color: #c9c;
  }
}
