* + table {
  border-style: solid;
  border-width: 1px;
  border-color: #DBB5DB;
}

* + table th, * + table td {
  border-style: dashed;
  border-width: 1px;
  border-color: #DBB5DB;
  padding: 8px;
}

* + table th {
  border-style: solid;
  font-weight: bold;
  background: url("/images/noise.png?1330434582") repeat scroll left top #f0e2f0;
}

* + table th[align="left"], * + table td[align="left"] {
  text-align: left;
}

* + table th[align="right"], * + table td[align="right"] {
  text-align: right;
}

* + table th[align="center"], * + table td[align="center"] {
  text-align: center;
}
