<section class="bio-box">
  <img class="m-a-1 not-scaled" src="/images/adrianmejia-small.png" alt="Adrian Mejia">
  <p class="p-x-1 muted">Adrian Mejia is a full-stack Web Developer. Currently working at Cisco as a Software Engineer. He has more than <%= new Date().getFullYear() - 2009 %> years of experience and taught about technologies through books, posts and videos. Find our more <a href="/#about">here</a>.</p>
</section>
