<!--https://developer.linkedin.com/plugins/share-button-->
<div>
  <script type="IN/Share" data-url="http://adrianmejia.com/blog/2014/10/01/creating-a-restful-api-tutorial-with-nodejs-and-mongodb/" data-counter="right"></script>
</div>
