<a href="https://twitter.com/amejiarosario" id="twitter-follow-button" class="twitter-follow-button" data-show-count="false">Follow @amejiarosario</a>
<div id="googleplus-follow-button" class="g-follow" data-annotation="bubble" data-height="20" data-href="//plus.google.com/u/0/105957252272382685246" data-rel="author"></div>
<a id="github-follow-button" class="github-button" href="https://github.com/amejiarosario" data-count-href="/amejiarosario/followers" data-count-api="/users/amejiarosario#followers" data-count-aria-label="# followers on GitHub" aria-label="Follow @amejiarosario on GitHub">Follow @amejiarosario</a>
