<div>
  <a href="https://twitter.com/share" class="twitter-share-button" data-text="<%- twitter.text %>" data-url="<%- twitter.url || 'http://adrianmejia.com' %>" data-via="<%- twitter.via || 'amejiarosario' %>" data-show-count="false">Tweet</a>
</div>

