<div class="container">
  <%
    var title = '';

    if (is_archive()){
      title = 'Archives';

      if (is_month()){
        title += ': ' + page.year + '/' + page.month;
      } else if (is_year()){
        title += ': ' + page.year;
      }
    } else if (is_category()){
      title = 'Category' + ': ' + page.category;
    } else if (is_tag()){
      title = 'Tag' + ': ' + page.tag;
    }
  %>

  <h1>Blog <%- title %></h1>

  <div class="row">
    <section class="col-md-9 p-a-2">
      <div class="row">
        <!--.sort('pageviews__total', -1)-->
        <% page.posts.filter(p => !p.unlisted).each(function(post, i){ %>
          <%- partial('_partials/post-thumbnail', { post: post, klass: 'col-md-4 col-sm-6 card' }) %>
        <% }) %>
      </div>
    </section>

    <aside class="col-md-3 p-a-2">
      <% theme.asides.forEach(function(widget){ %>
        <%- partial('_asides/' + widget) %>
      <% }) %>
    </aside>
  </div>

  <section class="row p-a-4">
    <%- paginator() %>
  </section>
</div>
