<article class="container post">
  <div class="row">
    <section class="col-sm-8 p-x-2">

      <div class="post-content <% if(page.toc) { %> toc-content <% } %>">
        <%- page.content %>
      </div>
    </section>
  </div>
</article>
