.search-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-size: 20px; }
  .search-container a {
    padding: 0; }
  .search-container .top {
    position: relative;
    display: flex; }
  .search-container .input-container {
    position: relative;
    flex: 1; }
  .search-container .search-button, .search-container .close-overlay {
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.4em;
    font-size: 1.6em;
    background-color: #0082f3;
    color: white;
    cursor: pointer;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 -6px 12px -8px rgba(0, 0, 0, 0.2), inset 0 6px 12px -8px rgba(255, 255, 255, 0.2); }
    .search-container .search-button:hover, .search-container .close-overlay:hover {
      background-color: #0d8eff; }
    .search-container .search-button:active, .search-container .close-overlay:active {
      background-color: #0066c0;
      box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.2); }
  .search-container #search-box {
    width: 100%;
    font-size: inherit;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-left: none;
    box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.1);
    outline: none;
    padding: 0.8em 1em;
    font-size: 1.2em; }
    .search-container #search-box:focus {
      box-shadow: inset 0 2px 6px rgba(0, 100, 220, 0.15);
      border-color: rgba(0, 100, 220, 0.6); }
  .search-container #stats {
    z-index: 1;
    position: absolute;
    bottom: 0.6em;
    right: 0.6em;
    font-size: 0.8em;
    color: rgba(0, 0, 0, 0.4); }
  .search-container .content {
    display: flex;
    margin-top: 1rem;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.3); }
  .search-container .canvas {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: auto; }
  .search-container #hits {
    flex: 1; }
  .search-container .ais-hits {
    display: flex;
    flex-wrap: wrap; }
  .search-container .ais-hits__empty {
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 1.6em;
    color: rgba(0, 0, 0, 0.4); }
  .search-container .ais-hits--item {
    flex: 1 0 100%; }
  .search-container .movie {
    position: relative;
    display: flex;
    margin: 10px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
    padding: 0.4em; }
  .search-container .movie-image {
    flex-shrink: 0;
    height: 250px;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.1); }
  .search-container .movie-meta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1em; }
  .search-container .movie-title {
    align-items: center;
    font-size: 1.1em;
    font-weight: bold; }
  .search-container em {
    color: #0096e6;
    background: rgba(0, 160, 220, 0.2); }
  .search-container .movie-year {
    font-size: 0.8em;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.6); }
  .search-container .movie-rating {
    margin-top: 0.2em; }
  .search-container .movie-genres {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.8em;
    margin-top: 0.7em;
    margin-right: -0.4em;
    margin-bottom: -0.4em; }
  .search-container .movie-genre {
    color: rgba(0, 0, 0, 0.7);
    padding: 0.4em 0.6em;
    background-color: rgba(0, 0, 0, 0.1);
    margin-right: 0.4em;
    margin-bottom: 0.4em; }
  .search-container ul.ais-pagination {
    padding: 0;
    margin: 0; }
  .search-container #pagination {
    margin: 10px 0;
    text-align: center; }
  .search-container .ais-pagination--item {
    margin: 0 0.2em; }
  .search-container .ais-pagination--link {
    font-size: 1.2em;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.4); }
    .ais-pagination--item__active .search-container .ais-pagination--link {
      font-weight: bold;
      color: rgba(0, 100, 220, 0.6); }
  .search-container .facets {
    width: 20%;
    min-width: 270px;
    border-right: 1px solid rgba(0, 0, 0, 0.3); }
  .search-container .facet {
    padding: 1em 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1); }
  .search-container .facet-title {
    padding: 0 1em;
    font-size: 1.1em;
    margin-bottom: 0.6em; }
  .search-container .ais-refinement-list--item {
    padding: 0 1em;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.7); }
    .search-container .ais-refinement-list--item:hover {
      color: black;
      background-color: rgba(0, 0, 0, 0.04); }
    .search-container .ais-refinement-list--item.ais-refinement-list--item__active {
      background-color: rgba(0, 0, 0, 0.08);
      font-weight: bold;
      color: black; }
  .search-container .ais-refinement-list--label {
    position: relative;
    display: flex;
    line-height: 1.4em;
    cursor: inherit; }
    .search-container .ais-refinement-list--label input[type=checkbox] {
      display: none; }
  .search-container .ais-refinement-list--count, .search-container .ais-star-rating--count {
    top: 0;
    position: absolute;
    right: 0;
    font-size: 0.8em;
    color: rgba(0, 0, 0, 0.4); }
  .search-container .ais-star-rating--item {
    padding: 0 1em;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.7); }
    .search-container .ais-star-rating--item:hover {
      color: black;
      background-color: rgba(0, 0, 0, 0.04); }
    .search-container .ais-star-rating--item.ais-star-rating--item__active {
      background-color: rgba(0, 0, 0, 0.08);
      font-weight: bold;
      color: black; }
  .search-container .ais-star-rating--link {
    position: relative;
    display: block;
    text-decoration: none;
    line-height: 1.4em;
    color: inherit; }
  .search-container .ais-range-slider--tooltip {
    position: relative;
    background: none; }
  .search-container .ais-range-slider--handle {
    display: flex;
    justify-content: center; }
  .search-container #year {
    padding: 0 2em; }
