<a href="#" id="search-modal" onclick="track('#search', 'search', true)">
  <i class="fa fa-search" aria-hidden="true"></i>
</a>

<div id="search-overlay" class="overlay">
  <button class="close-btn" id="close-search-overlay">
    <span><i class="fa fa-close"></i></span>
  </button>


  <script id="movie" type="text/x-handlebars-template">
    <article class="movie">
      {{#photos.0}}
      <a href="/{{path}}">
        <img class="movie-image" src="{{photos.0}}" />
      </a>
      {{/photos.0}}

      <div class="movie-meta">
        <div class="movie-title">
          <a href="/{{path}}">
            {{{_highlightResult.title.value}}}
          </a>
          <!--
          <span class="movie-year">
            {{year}}
          </span>
          -->
        </div>

        <div class="movie-rating">
          {{#stars}}
            <span class="ais-star-rating--star{{^.}}__empty{{/.}}">
            </span>
          {{/stars}}
        </div>

        <p>
          {{{_highlightResult.excerptStrip.value}}}
        </p>

        <div class="movie-genres">
          {{#tags}}
            <div class="movie-genre">
              {{.}}
            </div>
          {{/tags}}
        </div>
      </div>
    </article>
  </script>

  <div class="search-container">

    <div class="top">
      <div class="search-button">
        <i class="fa fa-search"></i>
      </div>
      <div class="input-container">
        <input type="text" id="search-box" />
        <div id="stats"></div>
      </div>
    </div>

    <div class="content">
      <div class="facets">
        <div class="facet">
          <div class="facet-title">Tags</div>
          <div id="tags"></div>
        </div>

        <div class="facet">
          <div class="facet-title">Categories</div>
          <div id="categories"></div>
        </div>

  <!--
        <div class="facet">
          <div class="facet-title">Popularity</div>
          <div id="ratings"></div>
        </div> -->

  <!--
        https://community.algolia.com/instantsearch.js/documentation/#rangeslider

        <div class="facet">
          <div class="facet-title">Year</div>
          <div id="year"></div>
        </div> -->
      </div>

      <div class="canvas">
        <div id="hits"></div>

        <div id="pagination"></div>
      </div>
    </div>
  </div>
</div>

<%- js('js/search') %>
