<a href="#" id="search-modal">
  <i class="fa fa-search" aria-hidden="true"></i>
</a>

<div id="search-overlay" class="overlay">
  <button class="close-btn" id="close-search-overlay">
    <span><i class="fa fa-close"></i></span>
  </button>
</div>
